---
const { Item } = Astro.props;
import TimelineElement from '@components/cv/TimelineElement.astro'

 const title= Item.Role;
 const subtitle = `From ${Item.StartYear} to ${Item.EndYear} at ${Item.Company}, ${Item.City}, ${Item.Country}`;
---

<TimelineElement 
  title={title}
  subtitle={subtitle}
>
<p>{Item.Description}</p>
</TimelineElement>


