---
const { Item } = Astro.props;
import TimelineElement from "@components/cv/TimelineElement.astro";

const title = Item.Role;
const subtitle = `From ${Item.StartYear} to ${Item.EndYear} @ ${Item.Company}, ${Item.City}, ${Item.Country}`;
const paragraphs = Item.Description.split('\n').filter(p => p.trim() !== '');
---

<TimelineElement title={title} subtitle={subtitle}>
  {paragraphs.map((paragraph) => <p style="margin-bottom: 1em;">{paragraph}</p>)}
</TimelineElement>
